*{
    /* padding: 10px 5px 10px 5px;
    margin:10px 5px 10px 5px ;
} */

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 200;
}
vedio{
    width: 100%;
}
/* img{
    width: 100%;
} */

